{% extends 'base-back.html.twig' %}

{% block body %}

<h1>{{ form_title }}</h1>
        <td><a href="{{ path('events') }}">Afficher</a></td>
{{form_start(form_event,{'attr':{'novalidate': 'novalidate'}})}}

{{ form(form_event) }}

{{form_end(form_event)}}
{% endblock %}