{% extends 'base-back.html.twig' %}

{% block title %}Comment {% endblock %}

{% block body %}
    <h1>Comment Table</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>AuthorName</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.authorName }}</td>
                <td>{{ comment.createdAt | date('d/m/y') }}</td>
                <td>
                        {{ include('comment/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
