{% extends 'base-back.html.twig' %}
{% block body %}
    <h1>Modifier une voiture</h1>

    {{form_start(formA)}}

    <div class="form-group">
        <label for="">Matricule</label>
        {{ form_widget (formA.matricule) }}
    </div>
    <div class="form-group">
        <label for="">Marque</label>
        {{ form_widget (formA.marque) }}
    </div>
    <div class="form-group">
        <label for="">Modele</label>
        {{ form_widget (formA.modele) }}
    </div>
    <div class="form-group">
        <label for="">Couleur</label>
        {{ form_widget (formA.couleur) }}
    </div>
    <div class="form-group">
        <label for="">Transmission</label>
        {{ form_widget (formA.transmission) }}
    </div>
    <div class="form-group">
        <label for="">Nombre de places</label>
        {{ form_widget (formA.place) }}
    </div>
    <div class="form-group">
        <label for="">Nombre de bagages</label>
        {{ form_widget (formA.bagage) }}
    </div>
    <div class="form-group">
        <label for="">Carburant</label>
        {{ form_widget (formA.carburant) }}
    </div>
    <div class="form-group">
        <label for="">Killometrage</label>
        {{ form_widget (formA.killometrage) }}
    </div>
    <div class="form-group">
        <label for="">Prix</label>
        {{ form_widget (formA.prix) }}
    </div>



    <button type="submit" class="btn btn-success">Modifier Voiture</button>

    {{form_end(formA)}}


{% endblock %}