<!DOCTYPE html>
<html lang="zxx" class="js">
<!-- Mirrored from dashlite.net/demo1/hotel/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Feb 2022 15:01:14 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head> 
<meta charset="utf-8"><meta name="author" content="Softnio"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
<link rel="shortcut icon" href="{{asset ('back-office/images/favicon.png')}}">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Management Dashboard Getaway {% block title %} Index {% endblock %}  </title>
<link rel="stylesheet" href="{{asset ('back-office/css/dashlitebf47.css?ver=2.9.1')}}">
<link id="skin-default" rel="stylesheet" href="{{asset ('back-office/css/themebf47.css?ver=2.9.1')}}">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"></script><script>window.dataLayer = window.dataLayer || [];function gtag() {dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-91615293-4');</script>
 </head>
 <body class="nk-body bg-lighter npc-general has-sidebar " >
 <div class="nk-app-root"><div class="nk-main ">
 <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
 <div class="nk-sidebar-element nk-sidebar-head"><div class="nk-menu-trigger">
 <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
 <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
 </div>
 <div class="nk-sidebar-brand">
 <a class="logo-link nk-sidebar-logo"><img class="logo-light logo-img" src="../back-office/images/logo.png" srcset="/demo1/images/logo2x.png 2x" alt="logo">
 <img class="logo-dark logo-img" src="../images/logo-dark.png" srcset="/demo1/images/logo-dark2x.png 2x" alt="logo-dark"></a>
 </div>
 </div>
 <div class="nk-sidebar-element nk-sidebar-body">
 <div class="nk-sidebar-content">
 <div class="nk-sidebar-menu" data-simplebar>
 <ul class="nk-menu">

{% if app.session.get('role') == '3' %}
 <li class="nk-menu-item">
 <a href="/index" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span><span class="nk-menu-text">Accueil</span></a>
 </li>


 <li class="nk-menu-item has-sub">
 <a href="{{ path ('listhot') }}" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Hoteliers</span></a>

 </li>

 <li class="nk-menu-item has-sub">
 <a href="{{ path ('listc') }}" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Clients</span></a>

 </li>



{% endif %}






 <li class="nk-menu-item has-sub">
 <a href="{{ path ('listh') }}" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-home-fill"></em></span><span class="nk-menu-text">Hôtels</span></a>
 </li>

  <li class="nk-menu-item has-sub">
 <a href="{{ path ('listr') }}" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Réservations</span></a>
  </li>
{% if app.session.get('role') == '3' %}

 <li class="nk-menu-item has-sub">
 <a href="{{ path ('listv') }}" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Voitures</span></a>
 </li>
   <li class="nk-menu-item has-sub">
      <a href="{{ path ('listrr') }}" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Locations</span></a>
   </li>
 <li class="nk-menu-item has-sub">
 <a href="{{ path ('produits') }}" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Produits</span></a>
 
 </li>
 






 <li class="nk-menu-item has-sub">
 <a href="{{ path ('publication_index') }}" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Publications</span></a>

  <li class="nk-menu-item has-sub">
 <a href="/comment/" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Commentaires</span></a>
 </li>





<li class="nk-menu-item has-sub">
 <a href="" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Evénement</span></a>
 <ul class="nk-menu-sub">
 <li class="nk-menu-item">
 <a href="{{ path ('events') }}" class="nk-menu-link"><span class="nk-menu-text">Evénement</span></a>
 </li>
 <li class="nk-menu-item">
 <a href="{{ path ('participations') }}" class="nk-menu-link"><span class="nk-menu-text">Participants</span></a>
 </li>
 
 </ul>
 </li>
{% endif %}
  <li class="nk-menu-item has-sub">
 <a href="{{ path ('updatePro') }}" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Mon Profile</span></a>
 <ul class="nk-menu-sub">


 </ul>
 </li>


 </div>
 </div>
 </div>
 </div>
 <div class="nk-wrap "><div class="nk-header nk-header-fixed is-light">
 
 <div class="container-fluid">
   <div class="nk-header-wrap">
      <div class="nk-menu-trigger d-xl-none ml-n1"><a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
      <div class="nk-header-brand d-xl-none"><a href="../index-2.html" class="logo-link"><img class="logo-light logo-img" src="../back-office/images/logo.png" srcset="/demo1/images/logo2x.png 2x" alt="logo"><img class="logo-dark logo-img" src="../images/logo-dark.png" srcset="/demo1/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
      <div class="nk-header-news d-none d-xl-block">
         <div class="nk-news-list">
            <a class="nk-news-item" href="#">
               <div class="nk-news-icon"></div>
               <div class="nk-news-text"></div>
            </a>
         </div>
      </div>
      <div class="nk-header-tools">
         <ul class="nk-quick-nav">
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-s1">
               <ul class="language-list">
                  <li><a href="#" class="language-item"><img src="../images/flags/english.png" alt="" class="language-flag"><span class="language-name">English</span></a></li>
                  <li><a href="#" class="language-item"><img src="../images/flags/spanish.png" alt="" class="language-flag"><span class="language-name">Español</span></a></li>
                  <li><a href="#" class="language-item"><img src="../images/flags/french.png" alt="" class="language-flag"><span class="language-name">Français</span></a></li>
                  <li><a href="#" class="language-item"><img src="../images/flags/turkey.png" alt="" class="language-flag"><span class="language-name">Türkçe</span></a></li>
               </ul>
            </div>
            </li>
            <li class="dropdown user-dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <div class="user-toggle">
                     <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                
                  </div>
               </a>
               <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                  <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                     <div class="user-card">
                        <div class="user-avatar"><span>AB</span></div>
                        <div class="user-info"><span class="lead-text">Abu Bin Ishtiyak</span><span class="sub-text">info@softnio.com</span></div>
                     </div>
                  </div>
                  <div class="dropdown-inner">
                     <ul class="link-list">
                        <li><a href="#"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                        <li><a href="settings.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                        <li><a href="settings-activity-log.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                     </ul>
                  </div>
                  <div class="dropdown-inner">
                     <ul class="link-list">
                        <li><a href="#"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="dropdown notification-dropdown mr-n1">
               <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                  <div class="icon-status"><em class="icon ni ni-bell"></em></div>
               </a>
               <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                  <div class="dropdown-head"><span class="sub-title nk-dropdown-title">Notifications</span><a href="#">Mark All as Read</a></div>
                  <div class="dropdown-body">
                     <div class="nk-notification" id="notifications">
                     </div>
                  </div>
                  <div class="dropdown-foot center"><a href="#">View All</a></div>
               </div>
            </li>
            <li>
            <a href="/logout">Se Déconnecter</a>
            </li>
         </ul>
      </div>
   </div>
</div>
</div>
<div class="nk-content ">
   {% block body %}
   <div class="container-fluid">
      <div class="nk-content-inner">
         <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
               <div class="nk-block-between">
                  <div class="nk-block-head-content">
                     <h3 class="nk-block-title page-title">Statistiques</h3>
                     <div class="nk-block-des text-soft">
                        
                     </div>
                  </div>




 




               </div>
            </div>
            <div class="nk-block">
               <div class="row g-gs">
                  <div class="col-md-4">
                     <div class="card card-bordered card-full">
                        <div class="card-inner">
                           <div class="card-title-group align-start mb-0">
                              <div class="card-title">
                                 <h6 class="title">Nombre des hôtels</h6>
                              </div>
                              <div class="card-tools"><em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Total Booking"></em></div>
                           </div>
                           <div class="card-amount"><span class="amount"> {{ hotel }} </span></div>
                           <div class="invest-data">
                              
                              <div class="invest-data-ck">
                                 <canvas class="iv-data-chart" id="totalBooking"></canvas>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card card-bordered card-full">
                        <div class="card-inner">
                           <div class="card-title-group align-start mb-0">
                              <div class="card-title">
                                 <h6 class="title">Nombre des clients</h6>
                              </div>
                              <div class="card-tools"><em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Total Room"></em></div>
                           </div>
                           <div class="card-amount"><span class="amount"> {{ users }} </span></div>
                           <div class="invest-data">
                              
                              <div class="invest-data-ck">
                                 <canvas class="iv-data-chart" id="totalRoom"></canvas>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card card-bordered card-full">
                        <div class="card-inner">
                           <div class="card-title-group align-start mb-0">
                              <div class="card-title">
                                 <h6 class="title">Nombre des hôteliers</h6>
                              </div>
                              <div class="card-tools"><em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Total Room"></em></div>
                           </div>
                           <div class="card-amount"><span class="amount"> {{ hoteliers }} </span></div>
                           <div class="invest-data">
                              
                              <div class="invest-data-ck">
                                 <canvas class="iv-data-chart" id="totalRoom"></canvas>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card card-bordered  card-full">
                        <div class="card-inner">
                           <div class="card-title-group align-start mb-0">
                              <div class="card-title">
                                 <h6 class="title">Nombre des réservations</h6>
                              </div>
                              <div class="card-tools"><em class="card-hint icon ni ni-help-fill" data-toggle="tooltip" data-placement="left" title="Total Expenses"></em></div>
                           </div>
                           <div class="card-amount"><span class="amount"> {{ reservations }} </div>
                           <div class="invest-data">
                             
                              <div class="invest-data-ck">
                                 <canvas class="iv-data-chart" id="totalExpenses"></canvas>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>









                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
<div class="nk-footer">
   <div class="container-fluid">
      <div class="nk-footer-wrap">
         <div class="nk-footer-copyright"> &copy; 2022 DashLite. Template by <a href="https://softnio.com/" target="_blank">Softnio</a></div>
         <div class="nk-footer-links">
            <ul class="nav nav-sm">
               <li class="nav-item dropup">
                  <a herf="#" class="dropdown-toggle dropdown-indicator has-indicator nav-link" data-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                  <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                     <ul class="language-list">
                        <li><a href="#" class="language-item"><span class="language-name">English</span></a></li>
                        <li><a href="#" class="language-item"><span class="language-name">Español</span></a></li>
                        <li><a href="#" class="language-item"><span class="language-name">Français</span></a></li>
                        <li><a href="#" class="language-item"><span class="language-name">Türkçe</span></a></li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item"><a href="#" data-toggle="modal" data-target="#region" class="nav-link"><em class="icon ni ni-globe"></em><span class="ml-1">Select Region</span></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
</div></div></div>
<div class="modal fade" tabindex="-1" role="dialog" id="region">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
         <div class="modal-body modal-body-md">
            <h5 class="title mb-4">Select Your Country</h5>
            <div class="nk-country-region">
               <ul class="country-list text-center gy-2">
                  <li><a href="#" class="country-item"><img src="../images/flags/arg.png" alt="" class="country-flag"><span class="country-name">Argentina</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/aus.png" alt="" class="country-flag"><span class="country-name">Australia</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/bangladesh.png" alt="" class="country-flag"><span class="country-name">Bangladesh</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/canada.png" alt="" class="country-flag"><span class="country-name">Canada <small>(English)</small></span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/china.png" alt="" class="country-flag"><span class="country-name">Centrafricaine</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/china.png" alt="" class="country-flag"><span class="country-name">China</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/french.png" alt="" class="country-flag"><span class="country-name">France</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/germany.png" alt="" class="country-flag"><span class="country-name">Germany</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/iran.png" alt="" class="country-flag"><span class="country-name">Iran</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/italy.png" alt="" class="country-flag"><span class="country-name">Italy</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/mexico.png" alt="" class="country-flag"><span class="country-name">México</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/philipine.png" alt="" class="country-flag"><span class="country-name">Philippines</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/portugal.png" alt="" class="country-flag"><span class="country-name">Portugal</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/s-africa.png" alt="" class="country-flag"><span class="country-name">South Africa</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/spanish.png" alt="" class="country-flag"><span class="country-name">Spain</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/switzerland.png" alt="" class="country-flag"><span class="country-name">Switzerland</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/uk.png" alt="" class="country-flag"><span class="country-name">United Kingdom</span></a></li>
                  <li><a href="#" class="country-item"><img src="../images/flags/english.png" alt="" class="country-flag"><span class="country-name">United State</span></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="nk-demo-panel nk-demo-panel-2x toggle-slide toggle-slide-right" data-content="demoML" data-toggle-overlay="true" data-toggle-body="true" data-toggle-screen="any">
   <div class="nk-demo-head">
      <h6 class="mb-0">Switch Demo Layout</h6>
      <a class="nk-demo-close toggle btn btn-icon btn-trigger revarse mr-n2" data-target="demoML" href="#"><em class="icon ni ni-cross"></em></a>
   </div>
   <div class="nk-demo-list" data-simplebar>
      <div class="nk-demo-item">
         <a href="../index-2.html">
            <div class="nk-demo-image bg-blue"><img class="bg-purple" src="../../images/landing/layout-1d.jpg" srcset="https://dashlite.net/images/landing/layout-1d2x.jpg 2x" alt="Demo Layout 1"></div>
            <span class="nk-demo-title"><strong>Demo Layout 1</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo2/index.html">
            <div class="nk-demo-image bg-purple"><img src="../../images/landing/layout-2d.jpg" srcset="https://dashlite.net/images/landing/layout-2d2x.jpg 2x" alt="Demo Layout 2"></div>
            <span class="nk-demo-title"><strong>Demo Layout 2</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo3/index.html">
            <div class="nk-demo-image bg-success"><img src="../../images/landing/layout-3d.jpg" srcset="https://dashlite.net/images/landing/layout-3d2x.jpg 2x" alt="Demo Layout 3"></div>
            <span class="nk-demo-title"><strong>Demo Layout 3</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo4/index.html">
            <div class="nk-demo-image bg-indigo"><img src="../../images/landing/layout-4d.jpg" srcset="https://dashlite.net/images/landing/layout-4d2x.jpg 2x" alt="Demo Layout 4"></div>
            <span class="nk-demo-title"><strong>Demo Layout 4</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo5/index.html">
            <div class="nk-demo-image bg-orange"><img src="../../images/landing/layout-5d.jpg" srcset="https://dashlite.net/images/landing/layout-5d2x.jpg 2x" alt="Demo Layout 5"></div>
            <span class="nk-demo-title"><strong>Demo Layout 5</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo6/index.html">
            <div class="nk-demo-image bg-purple"><img src="../../images/landing/layout-6d.jpg" srcset="https://dashlite.net/images/landing/layout-6d2x.jpg 2x" alt="Demo Layout 6"></div>
            <span class="nk-demo-title"><strong>Demo Layout 6</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo7/index.html">
            <div class="nk-demo-image bg-teal"><img src="../../images/landing/layout-7d.jpg" srcset="https://dashlite.net/images/landing/layout-7d2x.jpg 2x" alt="Demo Layout 7"></div>
            <span class="nk-demo-title"><strong>Demo Layout 7</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo8/index.html">
            <div class="nk-demo-image bg-azure"><img src="../../images/landing/layout-8d.jpg" srcset="https://dashlite.net/images/landing/layout-8d2x.jpg 2x" alt="Demo Layout 8"></div>
            <span class="nk-demo-title"><strong>Demo Layout 8</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/landing/index.html">
            <div class="nk-demo-image bg-red"><img src="../../images/landing/main-landing.jpg" srcset="https://dashlite.net/images/landing/main-landing2x.jpg 2x" alt="Landing Page"></div>
            <span class="nk-demo-title"><strong>Landing Page</strong> <span class="badge badge-danger ml-1">Free</span></span>
         </a>
      </div>
   </div>
</div>
<div class="nk-demo-panel nk-demo-panel-2x toggle-slide toggle-slide-right" data-content="demoUC" data-toggle-overlay="true" data-toggle-body="true" data-toggle-screen="any">
   <div class="nk-demo-head">
      <h6 class="mb-0">Use Case Concept</h6>
      <a class="nk-demo-close toggle btn btn-icon btn-trigger revarse mr-n2" data-target="demoUC" href="#"><em class="icon ni ni-cross"></em></a>
   </div>
   <div class="nk-demo-list" data-simplebar>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo2/ecommerce/index.html">
            <div class="nk-demo-image bg-dark"><img src="../../images/landing/demo-ecommerce.jpg" srcset="https://dashlite.net/images/landing/demo-ecommerce2x.jpg 2x" alt="Ecommerce"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo2</em><br><strong>E-Commerce Panel</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo2/lms/index.html">
            <div class="nk-demo-image bg-danger"><img src="../../images/landing/demo-lms.jpg" srcset="https://dashlite.net/images/landing/demo-lms2x.jpg 2x" alt="LMS"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo2</em><br><strong>LMS / Learning Management System</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="../crm/index.html">
            <div class="nk-demo-image bg-info"><img src="../../images/landing/demo-crm.jpg" srcset="https://dashlite.net/images/landing/demo-crm2x.jpg 2x" alt="CRM / Customer Relationship"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo1</em><br><strong>CRM / Customer Relationship Management</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo7/hospital/index.html">
            <div class="nk-demo-image bg-indigo"><img src="../../images/landing/demo-hospital.jpg" srcset="https://dashlite.net/images/landing/demo-hospital2x.jpg 2x" alt="Hospital Managemen"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo7</em><br><strong>Hospital Management</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="index.html">
            <div class="nk-demo-image bg-pink"><img src="../../images/landing/demo-hotel.jpg" srcset="https://dashlite.net/images/landing/demo-hotel2x.jpg 2x" alt="Hotel Managemen"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo1</em><br><strong>Hotel Management</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo3/cms/index.html">
            <div class="nk-demo-image bg-dark"><img src="../../images/landing/demo-cms.jpg" srcset="https://dashlite.net/images/landing/demo-cms2x.jpg 2x" alt="cms"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo3</em><br><strong>CMS Panel</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo5/crypto/index.html">
            <div class="nk-demo-image bg-warning"><img src="../../images/landing/demo-buysell.jpg" srcset="https://dashlite.net/images/landing/demo-buysell2x.jpg 2x" alt="Crypto BuySell / Wallet"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo5</em><br><strong>Crypto BuySell Panel</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo6/invest/index.html">
            <div class="nk-demo-image bg-indigo"><img src="../../images/landing/demo-invest.jpg" srcset="https://dashlite.net/images/landing/demo-invest2x.jpg 2x" alt="HYIP / Investment"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo6</em><br><strong>HYIP / Investment Panel</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo3/apps/file-manager.html">
            <div class="nk-demo-image bg-purple"><img src="../../images/landing/demo-file-manager.jpg" srcset="https://dashlite.net/images/landing/demo-file-manager2x.jpg 2x" alt="File Manager"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo3</em><br><strong>Apps - File Manager</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo4/subscription/index.html">
            <div class="nk-demo-image bg-primary"><img src="../../images/landing/demo-subscription.jpg" srcset="https://dashlite.net/images/landing/demo-subscription2x.jpg 2x" alt="SAAS / Subscription"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo4</em><br><strong>SAAS / Subscription Panel</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/covid/index.html">
            <div class="nk-demo-image bg-danger"><img src="../../images/landing/demo-covid19.jpg" srcset="https://dashlite.net/images/landing/demo-covid192x.jpg 2x" alt="Covid Situation"></div>
            <span class="nk-demo-title"><em class="text-primary">Covid</em><br><strong>Coronavirus Situation</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo3/apps/messages.html">
            <div class="nk-demo-image bg-success"><img src="../../images/landing/demo-messages.jpg" srcset="https://dashlite.net/images/landing/demo-messages2x.jpg 2x" alt="Messages"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo3</em><br><strong>Apps - Messages</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo3/apps/mailbox.html">
            <div class="nk-demo-image bg-purple"><img src="../../images/landing/demo-inbox.jpg" srcset="https://dashlite.net/images/landing/demo-inbox2x.jpg 2x" alt="Inbox"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo3</em><br><strong>Apps - Mailbox</strong></span>
         </a>
      </div>
      <div class="nk-demo-item">
         <a href="https://dashlite.net/demo3/apps/chats.html">
            <div class="nk-demo-image bg-purple"><img src="../../images/landing/demo-chats.jpg" srcset="https://dashlite.net/images/landing/demo-chats2x.jpg 2x" alt="Chats / Messenger"></div>
            <span class="nk-demo-title"><em class="text-primary">Demo3</em><br><strong>Apps - Chats</strong></span>
         </a>
      </div>
   </div>
</div>
<div class="nk-demo-panel toggle-slide toggle-slide-right" data-content="settingPanel" data-toggle-overlay="true" data-toggle-body="true" data-toggle-screen="any">
   <div class="nk-demo-head">
      <h6 class="mb-0">Preview Settings</h6>
      <a class="nk-demo-close toggle btn btn-icon btn-trigger revarse mr-n2" data-target="settingPanel" href="#"><em class="icon ni ni-cross"></em></a>
   </div>
   <div class="nk-opt-panel" data-simplebar>
      <div class="nk-opt-set">
         <div class="nk-opt-set-title">Direction Change</div>
         <div class="nk-opt-list col-2x">
            <div class="nk-opt-item only-text active" data-key="dir" data-update="ltr"><span class="nk-opt-item-bg"><span class="nk-opt-item-name">LTR Mode</span></span></div>
            <div class="nk-opt-item only-text" data-key="dir" data-update="rtl"><span class="nk-opt-item-bg"><span class="nk-opt-item-name">RTL Mode</span></span></div>
         </div>
      </div>
      <div class="nk-opt-set">
         <div class="nk-opt-set-title">Main UI Style</div>
         <div class="nk-opt-list col-2x">
            <div class="nk-opt-item only-text active" data-key="style" data-update="ui-default"><span class="nk-opt-item-bg"><span class="nk-opt-item-name">Default</span></span></div>
            <div class="nk-opt-item only-text" data-key="style" data-update="ui-clean"><span class="nk-opt-item-bg"><span class="nk-opt-item-name">Clean</span></span></div>
            <div class="nk-opt-item only-text" data-key="style" data-update="ui-shady"><span class="nk-opt-item-bg"><span class="nk-opt-item-name">Shady</span></span></div>
            <div class="nk-opt-item only-text" data-key="style" data-update="ui-softy"><span class="nk-opt-item-bg"><span class="nk-opt-item-name">Softy</span></span></div>
         </div>
      </div>
      <div class="nk-opt-set nk-opt-set-aside">
         <div class="nk-opt-set-title">Sidebar Style</div>
         <div class="nk-opt-list col-4x">
            <div class="nk-opt-item" data-key="aside" data-update="is-light"><span class="nk-opt-item-bg is-light"><span class="bg-lighter"></span></span><span class="nk-opt-item-name">White</span></div>
            <div class="nk-opt-item" data-key="aside" data-update="is-default"><span class="nk-opt-item-bg is-light"><span class="bg-light"></span></span><span class="nk-opt-item-name">Light</span></div>
            <div class="nk-opt-item active" data-key="aside" data-update="is-dark"><span class="nk-opt-item-bg"><span class="bg-dark"></span></span><span class="nk-opt-item-name">Dark</span></div>
            <div class="nk-opt-item" data-key="aside" data-update="is-theme"><span class="nk-opt-item-bg"><span class="bg-theme"></span></span><span class="nk-opt-item-name">Theme</span></div>
         </div>
      </div>
      <div class="nk-opt-set nk-opt-set-header">
         <div class="nk-opt-set-title">Header Style</div>
         <div class="nk-opt-list col-4x">
            <div class="nk-opt-item active" data-key="header" data-update="is-light"><span class="nk-opt-item-bg is-light"><span class="bg-lighter"></span></span><span class="nk-opt-item-name">White</span></div>
            <div class="nk-opt-item" data-key="header" data-update="is-default"><span class="nk-opt-item-bg is-light"><span class="bg-light"></span></span><span class="nk-opt-item-name">Light</span></div>
            <div class="nk-opt-item" data-key="header" data-update="is-dark"><span class="nk-opt-item-bg"><span class="bg-dark"></span></span><span class="nk-opt-item-name">Dark</span></div>
            <div class="nk-opt-item" data-key="header" data-update="is-theme"><span class="nk-opt-item-bg"><span class="bg-theme"></span></span><span class="nk-opt-item-name">Theme</span></div>
         </div>
      </div>
      <div class="nk-opt-set nk-opt-set-skin">
         <div class="nk-opt-set-title">Primary Skin</div>
         <div class="nk-opt-list">
            <div class="nk-opt-item active" data-key="skin" data-update="default"><span class="nk-opt-item-bg"><span class="skin-default"></span></span><span class="nk-opt-item-name">Default</span></div>
            <div class="nk-opt-item" data-key="skin" data-update="blue"><span class="nk-opt-item-bg"><span class="skin-blue"></span></span><span class="nk-opt-item-name">Blue</span></div>
            <div class="nk-opt-item" data-key="skin" data-update="egyptian"><span class="nk-opt-item-bg"><span class="skin-egyptian"></span></span><span class="nk-opt-item-name">Egyptian</span></div>
            <div class="nk-opt-item" data-key="skin" data-update="purple"><span class="nk-opt-item-bg"><span class="skin-purple"></span></span><span class="nk-opt-item-name">Purple</span></div>
            <div class="nk-opt-item" data-key="skin" data-update="green"><span class="nk-opt-item-bg"><span class="skin-green"></span></span><span class="nk-opt-item-name">Green</span></div>
            <div class="nk-opt-item" data-key="skin" data-update="red"><span class="nk-opt-item-bg"><span class="skin-red"></span></span><span class="nk-opt-item-name">Red</span></div>
         </div>
      </div>
      <div class="nk-opt-set">
         <div class="nk-opt-set-title">Skin Mode</div>
         <div class="nk-opt-list col-2x">
            <div class="nk-opt-item active" data-key="mode" data-update="light-mode"><span class="nk-opt-item-bg is-light"><span class="theme-light"></span></span><span class="nk-opt-item-name">Light Skin</span></div>
            <div class="nk-opt-item" data-key="mode" data-update="dark-mode"><span class="nk-opt-item-bg"><span class="theme-dark"></span></span><span class="nk-opt-item-name">Dark Skin</span></div>
         </div>
      </div>
      <div class="nk-opt-reset"><a href="#" class="reset-opt-setting">Reset Setting</a></div>
   </div>
</div>
<div class="pmo-lv pmo-dark">
   <a class="pmo-close" href="#"><em class="ni ni-cross"></em></a>
   <a class="pmo-wrap" target="_blank" href="https://softnio.com/get-early-access/">
      <div class="pmo-text text-white">Looking for functional script for HYIP Investment Platform? Check out <em class="ni ni-arrow-long-right"></em></div>
   </a>
</div>
<a class="pmo-st pmo-dark" target="_blank" href="https://softnio.com/get-early-access/">
   <div class="pmo-st-img"><img src="../../images/landing/promo-investorm.png" alt="Investorm"></div>
   <div class="pmo-st-text">Looking for Advanced <br> HYIP Investment Platform?</div>
</a>
<script src="../back-office/js/bundlebf47.js?ver=2.9.1"></script><script src="../back-office/js/scriptsbf47.js?ver=2.9.1"></script><script src="../back-office/js/demo-settingsbf47.js?ver=2.9.1"></script><script src="../back-office/js/charts/chart-hotelbf47.js?ver=2.9.1"></script></body>
<!-- Mirrored from dashlite.net/demo1/hotel/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Feb 2022 15:01:14 GMT -->

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>

setInterval(function () {
 $.get("/showNotifications/1", function(data, status){
    let notifications = data;
    for (let i=0; i<notifications.length; i++)
    {
       $('.icon-status').addClass('icon-status-info');
    $('#notifications').append('<div class="nk-notification-item dropdown-inner"><div class="nk-notification-icon"><em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em></div><div class="nk-notification-content"><div class="nk-notification-text">'+notifications[i].title+'</div><div class="nk-notification-time">'+notifications[i].date+'</div></div></div>');
    }
  });
}, 30000);
</script>

</html>